<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.turing.firecontrol.datahandler.mapper.NoticeRuleUserMapper" >
  <resultMap id="BaseResultMap" type="cn.turing.firecontrol.datahandler.entity.NoticeRuleUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NOTICE_RULE_ID" property="noticeRuleId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
    <result column="CRT_USER_NAME" property="crtUserName" jdbcType="VARCHAR" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER_NAME" property="updUserName" jdbcType="VARCHAR" />
    <result column="UPD_USER_ID" property="updUserId" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="NOTICE_TYPE" property="noticeType" jdbcType="CHAR" />
  </resultMap>

  <select id="listByUserIds" resultMap="BaseResultMap">
     SELECT *
      FROM notice_rule_user
    WHERE USER_ID IN(${userIds})
      AND DEL_FLAG = '0'
      AND NOTICE_TYPE = #{noticeType}
  </select>
  <select id="queryByNoticeRuleId" resultMap="BaseResultMap">
    SELECT *
    FROM notice_rule_user
    WHERE NOTICE_RULE_ID IN(${noticeRuleId})
    AND DEL_FLAG = '0'
    AND NOTICE_TYPE = #{noticeType}
  </select>
  <select id="queryByNoticeRuleIdAndUserId" resultMap="BaseResultMap">
    SELECT *
    FROM notice_rule_user
    WHERE NOTICE_RULE_ID = #{noticeRuleId}
    AND USER_ID = #{userId}
    AND NOTICE_TYPE = #{noticeType}
    LIMIT 0,1
  </select>
</mapper>