<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.turing.firecontrol.device.mapper.DeviceVideoAnalysisSolutionMapper" >
  <resultMap id="BaseResultMap" type="cn.turing.firecontrol.device.entity.DeviceVideoAnalysisSolution" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ANALYSIS_SOLUTION_NAME" property="analysisSolutionName" jdbcType="VARCHAR" />
    <result column="ANALYSIS_SOLUTION_CODE" property="analysisSolutionCode" jdbcType="VARCHAR" />
    <result column="ANALYSIS_SOLUTION_IMAGE" property="analysisSolutionImage" jdbcType="VARCHAR" />
    <result column="CRT_USER_NAME" property="crtUserName" jdbcType="VARCHAR" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER_NAME" property="updUserName" jdbcType="VARCHAR" />
    <result column="UPD_USER_ID" property="updUserId" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>

  <select id="querySolutionsAndDeviceCount" resultType="map">
    SELECT
        dvas.ID id, dvas.ANALYSIS_SOLUTION_NAME solutionName,dvas.ANALYSIS_SOLUTION_IMAGE solutionImage,temp.solutionCount solutionCount
    FROM
        device_video_analysis_solution dvas
    LEFT JOIN (
        SELECT
            dve.ANALYSIS_SOLUTION_ID solutionId,
            count(dve.ANALYSIS_SOLUTION_ID) solutionCount
        FROM
            device_video_ext dve
        JOIN device_sensor ds ON ds.id = dve.id
        WHERE
            ds.TENANT_ID = #{tenantId} and dve.ANALYSIS_SOLUTION_ID is not null
        GROUP BY
            dve.ANALYSIS_SOLUTION_ID
    ) temp ON temp.solutionId = dvas.ID
  </select>
</mapper>